# To launch locally and display draft documents
#
#   hugo server -D
#
# To launch behind an ngrok proxy (https://ngrok.com/)
#
#   # launch ngrok to set up proxy and generate base URL
#   ngrok http 1313
#   ...
#   # use the generated ngrok URL for the hugo base URL
#   hugo server --appendPort=false -b https://NGROK_URL
#

baseURL = "https://thoughtcraft.net"
title = "Thoughtcraft"
author = "Matt Phillips"
paginate = 3
languageCode = "en"
DefaultContentLanguage = "en"
enableInlineShortcodes = true
footnoteReturnLinkContents = "^"

# DO NOT REMOVE THIS
theme = "harbor"

[Author]
  name = "Matt Phillips"

[permalinks]
	post = "/:year/:month/:day/:filename/"
	page = "/:filename/"

[outputs]
    section = ["JSON", "HTML"]

# [[params.nav]]
#   identifier = "about"
#   name = "About"
#   icon = "fas fa-user fa-lg"
#   url = "/about/"
#   weight = 3

[[params.nav]]
  identifier = "tags"
  name = "Tags"
  icon = "fas fa-tag fa-lg"
  url = "/tags/"
  weight = 3

# [[params.nav]]
#   identifier = "search"
#   name = "Search"
#   icon = "fas fa-search fa-lg"
#   url = "/search/"
#   weight = 3
#
# [[params.social]]
#   name= "Twitter"
#   url="https://twitter.com/i_mattman"
#   icon="fab fa-twitter"

[[params.social]]
  name= "GitHub"
  url="https://github.com/thoughtcraftnet"
  icon="fab fa-github"

# [[params.social]]
#   name= "reddit"
#   url="https://www.reddit.com/r/gohugo/"
#   icon="fab fa-reddit-alien"


[params]
  mainSections = ["post"]
  favicon = "favicon.ico"

  [params.logo]
    url = "icon.png"
    width = 50
    height = 50
    alt = "Logo"
